<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>Warhammer 40k Hub</title>
    </head>
    <body>
        <div id="header">
            <h1>Human Imperiales</h1>
            <div id="nav">
                <ul>
                    <li><a href="#">Администратум</a></li>
                    <li><a href="#">Обращения Императора человечества</a></li>
                    <li><a href="#">Обсуждения истреблений врагов человечества</a></li>
                    <li><a href="#">Связь с Адептус Механикус</a></li>
                    <li><a href="#">Анкета гражданина Империума</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <h2>Молитва о смирении перед Императором</h2>
                <p>"О, Бессмертный Император, будь к нам милосерден, 
                    хоть мы и недостойны того. О, Владыка Галактики, храни свое стадо от чужаков. 
                    О, Охранитель Света, направь луч, что покажет тропу на нашем темном пути. Мы Твои воины и слуги Твои. 
                    Избавились мы от слепоты сердца, освободились от лицемерия, тщеславия и лжи, но одеваем на себя цепи ненависти, презрения и злобы к грязи, ксеносам, еретикам. 
                    Во имя Твоих мук и кровавого пота; во имя Золотого Трона Твоего; Во имя гибели Твоей и воскрешения, как Бога Человечества — храни и укрепляй нас, сражающихся ради Тебя. 
                    (Вот это перед сном каждую ночь читайте)."</p>
                </div>
            <div id="sidebar2" class="aside">
                <h2>Граждане Империума!</h2>
                <p>Администратум приносит свои глубочайшие извинения в связи с продолжительным молчанием вокс-передатчиков в столичном мире Санктис Роска.
                    Померкнувший на несколько лет Астрономикон, и война, на которую ушли лучшие сыны Империума, не исключая и адептов Администратума, не могут служить оправданиям нашей слабости.
                    Не сразу, но мы планируем восстановить наше вещание, если будет на то Воля Императора.</p>
                <p>    </p>
                <p> Да свершится предначертанное!
                    Император защитит. Конец связи.</p>
                </ul>
            </div>
            <div id="article">
                <h2>Что такое Империум человечества?</h2>
                <p>Импéриум Человечества — галактическая империя, объединившая подавляющее большинство людей в галактике. 
                    Его основатель и правитель — богоподобный Император Человечества, самый могущественный псайкер, известный человечеству. 
                    Он основал Империум более двенадцати тысяч лет назад и продолжает, пусть и номинально, возглавлять его. 
                    Официальным гербом государства является аквила.
                    Империум — самое большое государство в галактике, насчитывающее более миллиона звёздных систем, находящихся в Галактике Млечного Пути и раздёленных между собой многими световыми годами. 
                    Размер Империума как межзвёздного государства исчисляется не протяжённостью территорий, а именно звёздными системами, которые он контролирует. Столицей Империума является родина человечества Священная Терра (Земля).
                    Многочисленные ксеносы и враждебные силы постоянно пытаются оспорить превосходство Империума: силы Хаоса, тираниды, эльдары и их тёмные собратья, орки, тау и некроны несут в себе постоянную угрозу для человечества. 
                    Но и изнутри угрозу Империуму представляют мятежники и вероотступники, мутанты, опасные псайкеры и пагубные культы.
                    Без защиты Империума, вне всякого сомнения, человечество давно бы окончило свое существование.</p>
            </div>
        </div>
        <div id="footer">
            <p>Contacts: Holy Terra</p>
            <button class="open-button" onclick="openForm()">Открыть форму</button>
        <form method="post">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required><br><br>
                
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required><br><br>
                
                <button type="submit">Войти</button>
            </form>
            
<div class="form-popup" id="myForm">
  <form action="../action_page.php" class="form-container">
    <h1>Вход</h1>

    <label for="email"><b>Почта</b></label>
    <input type="text" placeholder="Ваша почта" name="email" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Ваш пароль" name="psw" required>

    <button type="submit" class="btn">Вход</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
  </form>
</body>
</html>